if ! has devenv; then
  echo "devenv command is required. Install: https://devenv.sh/getting-started/"
  exit 1
fi

eval "$(devenv direnvrc)"
use devenv

watch_file .env.local
dotenv_if_exists .env.local
